<div class="container mt-5">
    <form action="">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Inserte el nombre...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Inserte el apellido...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for=""> Correo</label>
                    <input type="text" class="form-control" placeholder="Inserte el correo...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for=""> Telefono</label>
                    <input type="text" class="form-control" placeholder="Inserte el telefono...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for=""> Fecha Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Inserte la fecha de nacimiento...">
                </div>
            </div>
        </div>
        <button mat-button color="primary">Primary</button>


    </form>
</div>