<div class="container mt-5">
    <h4>Listado de Clientes</h4>
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" id="buscador" placeholder="Buscar cliente...">
        </div>
    </form>
    <div class="row pt-3">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <img src="https://image.flaticon.com/icons/png/512/219/219986.png" class="card-img-top imgCliente ">
                <div class="card-body">
                    <p>{{cliente.id}}</p>
                    <h5 class="card-title">{{cliente.Nombre}} {{cliente.Apellido}} </h5>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>