<div class="container mt-5">
    <h4>Listado de Clientes</h4>
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" id="buscador" placeholder="Buscar cliente...">
        </div>
    </form>
    <div class="row pt-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="https://image.flaticon.com/icons/png/512/219/219986.png" class="card-img-top imgCliente " alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carlos Moreno </h5>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://www.primariajuanadeasbaje.com.mx/images/PJDA/Profesores/M03.png" class="card-img-top imgCliente " alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carlos Moreno </h5>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://app-blue-upload.s3.amazonaws.com/BOT/avatars/avatar24.png" class="card-img-top imgCliente " alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carlos Moreno </h5>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_kVmx4E8LBwebk8AsObyza4j-iPVZzW9tEA&usqp=CAU" class="card-img-top imgCliente " alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carlos Moreno </h5>
                    <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>